<div id="draggable_windows">
    <div id="size_alert" class="window">
        <div class="window_menu">
            <div class="window_close">x</div>
            <div class="window_title">Warning</div>
        </div>
        <div class="window_content">
            You are using a window smaller than what Shimmer is optimized for (800x600)
        </div>
    </div>
    <div id="classify_target" class="window" [hidden]="!targetSelected">
        <div class="window_menu">
            <div class="window_close">x</div>
            <div class="window_title">Classify the target</div>
        </div>
        <div class="window_content">
            <div class="left_content">
            <canvas id="classify-canvas" width="200" height="400"></canvas>
            </div>
            <div id="class_form" class="right_content">
            <div class="attr">Flight Id: -</div>
            <div class="attr">Image Id: -</div>
            <div class="attr">Target Id: -</div>
            <div class="attr"></div>
            <div class="attr">Shape</div>
            <select class="attr-button">
                <option value="">-</option>
                <option value="circle">circle</option>
                <option value="semicircle">semicircle</option>
                <option value="quarter_circle">quarter_circle</option>
                <option value="square">square</option>
                <option value="rectangle">rectangle</option>
                <option value="trapezoid">trapezoid</option>
                <option value="triangle">triangle</option>
                <option value="pentagon">pentagon</option>
                <option value="hexagon">hexagon</option>
                <option value="octagon">octagon</option>
                <option value="star">star</option>
                <option value="cross">cross</option>
            </select>
            <div class="attr">Orientation</div>
            <input name="color" type="text" class="attr-button">
            <div class="attr">Shape color</div>
            <select class="attr-button">
                <option value="black">black</option>
                <option value="blue">blue</option>
                <option value="brown">brown</option>
                <option value="gray">gray</option>
                <option value="green">green</option>
                <option value="orange">orange</option>
                <option value="purple">purple</option>
                <option value="red">red</option>
                <option value="white">white</option>
                <option value="yellow">yellow</option>
            </select>
            <div class="attr">Character</div>
            <input name="color" type="text" class="attr-button">
            <div class="attr">Character color</div>
            <select class="attr-button">
                <option value="black">black</option>
                <option value="blue">blue</option>
                <option value="brown">brown</option>
                <option value="gray">gray</option>
                <option value="green">green</option>
                <option value="orange">orange</option>
                <option value="purple">purple</option>
                <option value="red">red</option>
                <option value="white">white</option>
                <option value="yellow">yellow</option>
            </select>
            <div class="attr">Target Type</div>
            <select class="attr-button">
                <option value="0">Standard</option>
                <option value="2">Off-axis</option>
                <option value="3">Emergent</option>
            </select>
            <div class="attr">Notes</div>
            <input type="textarea" class="attr-button">
            </div>
            </div>
            <div id="update-target-button" class="button">update</div>
            <div id="discard-target-button" class="button">discard</div>
    </div>
</div>
<canvas #shimmerCanvas (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)" ></canvas>
<script src="/apiRequest.js" type="application/javascript"></script>
<script src="/Dialog.js" type="application/javascript"></script>
<script src="/TargetHandler.js" type="application/javascript"></script>
<script src="/MouseHandler.js" type="application/javascript"></script>
<script src="/Shimmer.js" type="application/javascript"></script>
<script src="/ShimmerNav.js" type="application/javascript"></script>
<script type="text/javascript" >
  document.addEventListener("DOMContentLoaded", function(){
    var app = new ShimmerNav('shimmer-canvas');
    app.init();
  });
</script>
