<div id="menu">
    <div class="menu_logo">
        <div class="menu_title">Sh<span style="color: red;">immer</span></div>
        <div class="menu_list">
            <a>File</a>
            <a>Edit</a>
            <div class="sub_menu">
                <button class="drop_button">View</button>
                <div class="sub_menu_item">
                    <a routerLink="/images/next" routerLinkActive="active">Images</a>
                    <a routerLink="/targets" routerLinkActive="active">Targets</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-wrapper">

    <div>
        <div><a href="/images">Images</a></div>
    </div>
    <div>
        <div><a href="/targets">Targets</a></div>
    </div>
</div>