div.nav-wrapper {
    display:block;
    height: 100%;
    width: 100%;
}
div.nav-wrapper div {
    display:inline-block;
    text-align: center;
    width:49%
}
div.nav-wrapper div div {
    margin:auto;
    padding-top:45%;
}
div.nav-wrapper div div a {
    margin:auto;
    padding: 20px;
    background-color: black;
    color: white;
}