<div id="menu">
    <div class="menu_logo">
        <div class="menu_title">Sh<span style="color: red;">immer</span></div>
        <div class="menu_list">
            <a>File</a>
            <div class="sub_menu">
                <button class="drop_button">Edit</button>
                <div class="sub_menu_item">
                    <button (click)="edit()">Edit</button>
                    <button (click)="merge()">Merge</button>
                    <button (click)="delete()">Delete</button>
                </div>
            </div>
            <div class="sub_menu">
                <button class="drop_button">View</button>
                <div class="sub_menu_item">
                    <a href="/images">Images</a>
                </div>
            </div>
        </div>
        </div>
</div>
<div style="height: 29px"></div>
<table class="table">
    <thead>
        <tr>
            <th>Merge</th>
            <th>Target Picture</th>
            <th>Target ID</th>
            <th>Target Type</th>
            <th>Target Shape</th>
            <th>Shape Color</th>
            <th>Shape Letter</th>
            <th>Letter Color</th>
            <th>Target Orientation</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tr *ngFor="let row of rows">
       <td>
            <input type="checkbox" [(ngModel)]="row.checked"/>
        </td> 
        <td class="targetThumb"><img src={{service.getThumbnailURL(row.target.id)}}></td>
        <td>{{row.target.id}}</td>
        <td>{{row.target.target_type}}</td>
        <td *ngIf="!row.showCharactistics">{{row.target.shape}}</td>
        <td *ngIf="!row.showCharactistics">{{row.target.shape_color}}</td>
        <td *ngIf="!row.showCharactistics">{{row.target.letter}}</td>
        <td *ngIf="!row.showCharactistics">{{row.target.letter_color}}</td>
        <td *ngIf="!row.showCharactistics" colspan="2">{{row.target.orientation}}</td>
        <td *ngIf="row.showCharactistics" colspan="6">{{row.target.notes}}</td>
    </tr>
</table>
