div#target-pane {
    padding-top:29px;
}
table, th, td {
    border: 1px solid #666;
    border-collapse: collapse;
}
table {
    width:100%;
}
table td, table th {
    padding: 5px;
    text-align: left;
    background: white;
}
.targetThumb {
    width: 200px;
    height: 200px;
}
table tr:nth-child(even) td {
    background: #ddd;
}
table th.notes {
    padding-right: 200px;
}

table th.target_picture {
    width: 200px
}