<div id="menu">
    <div class="menu_logo">
        <div class="menu_title">Sh<span style="color: red;">immer</span></div>
        <div class="menu_list">
            <a>File</a>
            <div class="sub_menu">
                <button class="drop_button">Edit</button>
                <div class="sub_menu_item">
                    <button>Merge</button>
                </div>
            </div>
            <div class="sub_menu">
                <button class="drop_button">View</button>
                <div class="sub_menu_item">
                    <a href="/images">Images</a>
                </div>
            </div>
        </div>
        </div>
    <div class="menu_info">
        <div class="menu_title" id="img_info">flight | id</div>
    </div>
</div>
<div style="height: 29px"></div>
<table class="table">
    <thead>
        <tr>
            <th>Target Picture</th>
            <th>Target ID</th>
            <th>Target Type</th>
            <th>Target Shape</th>
            <th>Shape Color</th>
            <th>Shape Letter</th>
            <th>Letter Color</th>
            <th>Target Orientation</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tr *ngFor="let target of targets">
        <td class="targetThumb"><img src={{service.getThumbnailURL(target.id)}}></td>
        <td>{{target.id}}</td>
        <td>{{target.target_type}}</td>
        <td>{{target.shape}}</td>
        <td>{{target.shape_color}}</td>
        <td>{{target.letter}}</td>
        <td>{{target.letter_color}}</td>
        <td>{{target.orientation}}</td>
        <td>{{target.notes}}</td>
    </tr>
</table>
