<div #editTarget class="window">
    <div class="window_menu">
            <div class="window_close" (click)="close()">X</div>
            <div class="window_title">Edit Target</div>
    </div>
    <div class="window_content">
        <div class="column left-content">
            <div class="target-image">
                    <img class="targetThumb" src={{tService.getTargetThumbnailURL(target.id)}} alt="TargetThumb">
                    <canvas #protractorCanvas class="targetAligner" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)" (mouseenter)="mouseEnter($event)" (mouseout)="mouseOut($event)"></canvas>
                    <!--<img *ngIf="showProtractor" class="targetAligner" src="assets/Protractor.png" alt="Protractor">-->
            </div>
            <table>
                <tbody>
                    <tr><b>Target Id: </b>{{target.id}}</tr>
                    <tr><th>Target Type: </th></tr>
                    <tr>
                        <select class="attr-button" [(ngModel)]="target.target_type" (ngModelChange)="changeTargetType()">
                            <option value="0">Standard</option>
                            <option value="2">Off-axis</option>
                            <option value="3">Emergent</option>
                        </select>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column right-content">
            <table class="notes-input">
                <tbody *ngIf='showTargetFields'>
                    <tr><th class="attr">Shape:</th></tr>
                    <tr>
                        <select class="attr-button" [(ngModel)]="target.shape">
                            <option *ngFor="let x of ALL_SHAPES" [ngValue]="x">{{x}}</option>
                        </select>
                    </tr>
    
                    <tr><th class="attr">Orientation:</th></tr>
                    <tr>
                        <input name="orientation" type="text" class="attr-button" [(ngModel)]="target.orientation">
                    </tr>
    
                    <tr><th class="attr">Shape Color:</th></tr>
                    <tr>
                        <select class="attr-button" [(ngModel)]="target.shape_color">
                            <option *ngFor="let x of ALL_COLORS" [ngValue]="x">{{x}}</option>
                        </select>
                    </tr>
    
                    <tr><th class="attr">Character:</th></tr>
                    <tr>
                        <input name="character" type="text" class="attr-button" [(ngModel)]="target.letter">
                    </tr>
    
                    <tr><th class="attr">Character Color:</th></tr>
                    <tr>
                        <select class="attr-button" [(ngModel)]="target.letter_color">
                            <option *ngFor="let x of ALL_COLORS" [ngValue]="x">{{x}}</option>
                        </select>
                    </tr>
                </tbody>
    
                <tbody *ngIf='!showTargetFields'>
                    <tr><th>Notes:</th></tr>
                    <tr class="notes-input">
                        <textarea type="textarea" class="notes-input" [(ngModel)]="target.notes"></textarea>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="submit-buttons">
        <div class="button" (click)="update()">Update</div>
        <div class="button" (click)="discard()">Discard</div>
    </div>
</div> 