#image-wrapper, html, body, #ui-wrapper {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  vertical-align: top;
  background-color: #DDDDDD;
}

#image-wrapper {
  position: relative;
  display: inline-block;
  width: 75%;
  height: 100%;
}

#ui-wrapper {
  position: relative;
  display: inline-block;
  font-family: monospace;
  font-size: 18px;
  width: 24%;
  height: 100%;
  z-index: 1;
}

#ui {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.box {
  position: absolute;
  display: block;
  z-index: 10;
  background-color: #FFF;
  opacity: 0.4;
  border-color: #FFF:
}

#submit {
  display: block;
  padding: 10px;
  margin: 10px;
  bottom: 0;
  right: 0;
  background-color: #AA2222;
  color: #FFDDDD;
}

.button {
  border-radius: 5px;
  text-align: center;
}

.button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.button:focus {
  opacity: 0.8;
  cursor: pointer;
}

#footer {
  padding-top: 40px;
}

#footer, #footer a{
  color: #888888;
  font-size: 8pt;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
}

#footer:hover a {
  text-decoration: underline;
}
