html {
    overflow: hidden;
    width:100%;
    height:100%;
    font-family: monospace;
    background-image: url("assets/bg_logo.png");
    background-repeat: repeat;
}

body {
    margin: auto;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

#shimmer-canvas {
    display: block;
    z-index: 0;
    width: 100%;
    height: 100%;
}

/* Menu style */

#menu {
    z-index: 2;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 29px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

.menu_logo {
    display: inline-block;
}

.menu_item, .menu_info {
    display: inline-block;
}

.menu_info {
    float: right;
    margin-right: 20px;
    font-weight: bold;
}

.menu_title {
    color: white;
    padding: 7px;
    vertical-align: middle;
}

.menu_item:hover .menu_title {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    cursor: pointer;
}

.menu_list {
    position: absolute;
    display: none;
    top: 29px;
}

.menu_item:hover .menu_list{
    display: block;
}

.menu_list_spacer {
    background-color: rgba(255, 255, 255, 0.8);
    height: 3px;
}

.menu_list_item {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 7px;
}

.menu_list_item:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    cursor: pointer;
}

.menu_not {
  color: #888888;
}

.menu_not:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #888888;
    cursor: auto;
}

/** Footer Style */
#footer {
    z-index: 2;
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 29px;
    background-color: rgba(0, 0, 0, 0.8);
}

#footer.hidden {
    display: none;
}

.footer_item {
    display: inline-block;
}

.footer_buttons {
    float:right;
}

/* Window style */

#size_alert {
    display: none;
    left: 50px;
    top: 429px; /* 300 + 29(height of navbar) */
    width: 200px;
    height: 100px;
}